@import '_colors';
@import '_typography';

input[type=text] {
  color: $white;
  background-color: $dark-bg;
  height: 2rem;
  width: 10rem;
  border-radius: 2px;
  border-color: $dark-bg;
  font-size: 0.85rem;
}

.time-selector {
  font-weight: $normal;
  width: 10rem;
  border-bottom: .1rem solid $lighter-bg;
  margin-right: 1rem;
  &:hover {
    color: $blue;
    border-bottom: .1rem solid $blue;
  }
}
